site_name: rafidoth 
site_url: https://mydomain.org/rafidoth
theme: 
  name: material
  palette: 
    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
  font:
    text: Ubuntu Mono
  icon:
    logo: simple/codeigniter
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
extra:
    generator: false